{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/10715cfae1.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/admission.css' %}">
    <title>Admission | PHSS</title>
    <link rel="icon" href="{% static 'img/icon.png' %}">

</head>


<body>
    <header class="header" id="header">
        <nav class="nav container">
            <a href="/" class="nav_logo">
                <i class="fa-solid fa-book-open"></i> Read More
            </a>
            <div class="nav_menu" id="nav-menu">
                <ul class="nav_list">
                    <li class="nav_items">
                        <a href="/" class="nav_link">Home</a>
                    </li>
                    <li class="nav_items">
                        <a href="/facility" class="nav_link">Facility</a>
                    </li>
                    <li class="nav_items">
                        <a href="/admission" class="nav_link">Admission</a>
                    </li>
                    <li class="nav_items">
                        <a href="/payment" class="nav_link">Payment</a>
                    </li>
                    <li class="nav_items">
                        <a href="/dashboard" class="nav_link">Dashboard</a>
                    </li>
                </ul>
                <div class="nav_close" id="nav-close">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>
            <div class="nav_toggle" id="nav-toggle">
                <i class="fa-solid fa-bars"></i>
            </div>
        </nav>
    </header>



    <div class="container1">
        <div class="title">Admission</div>
        <div class="content">
            <form method="post" action="/admission">
                {% csrf_token %}
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Full Name</span>
                        <input type="text" placeholder="Enter your name" name="yname" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Class</span>
                        <select id="">
                            <option value="11t">11 Technical</option>
                            <option value="11m">11 Management</option>
                            <option value="11b">11 Bio</option>
                            <option value="12t">12 Technical</option>
                            <option value="12m">12 Management</option>
                            <option value="12b">12 Bio</option>
                        </select>
                    </div>
                    <div class="input-box">
                        <span class="details">Parent's Name</span>
                        <input type="text" placeholder="Enter your parent's name" name="pname" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Parent's Occupation</span>
                        <input type="text" placeholder="Enter your parent's occupation" name="occupation"required>
                    </div>
                    <div class="input-box">
                        <span class="details">Phone Number</span>
                        <input type="text" placeholder="Enter phone number" name="phone" required>
                    </div>
                    <div class="input-box">
                        <span class="details">DOB</span>
                        <input type="text" placeholder="YY-MM-DD" name="dob" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Address</span>
                        <input type="text" placeholder="address" name="address" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Email</span>
                        <input type="email" placeholder="example@gmail.com" name="email" required>
                    </div>

                </div>
                <div class="button">
                    <input type="submit" value="Admission">
                </div>
            </form>
        </div>
    </div>





</body>
<script src="{% static 'script.js' %}"></script>

</html>