{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/10715cfae1.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <title>Dashboard | PHSS</title>
    <link rel="icon" href="{% static 'img/icon.png' %}">

</head>


<body>
    <header class="header" id="header">
        <nav class="nav container">
            <a href="/" class="nav_logo">
                <i class="fa-solid fa-book-open"></i> Read More
            </a>
            <div class="nav_menu" id="nav-menu">
                <ul class="nav_list">
                    <li class="nav_items">
                        <a href="/" class="nav_link">Home</a>
                    </li>
                    <li class="nav_items">
                        <a href="/facility" class="nav_link">Facility</a>
                    </li>
                    <li class="nav_items">
                        <a href="/admission" class="nav_link">Admission</a>
                    </li>
                    <li class="nav_items">
                        <a href="/payment" class="nav_link">Payment</a>
                    </li>
                    <li class="nav_items">
                        <a href="/dashboard" class="nav_link">Dashboard</a>
                    </li>
                </ul>
                <div class="nav_close" id="nav-close">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>
            <div class="nav_toggle" id="nav-toggle">
                <i class="fa-solid fa-bars"></i>
            </div>
        </nav>
    </header>

    <section class="table section">
        <table style="width:60%">
            <tr id="table-head">
                <th>Sn</th>
                <th>Class</th>
                <th>ID</th>
                <th>Password</th>
                <th>Time</th>
                <th>Link</th>
            </tr>
            {% for admin1 in class2 %}
            <tr class="tr1">
                <td>{{forloop.counter}}.</td>
                <td>{{admin1.grade}}</td>
                <td>{{admin1.class_id}}</td>
                <td>{{admin1.passw}}</td>
                <td>{{admin1.time}}</td>
                <td>
                    <a href="{{admin1.link}}"  target="_blank" >Join</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </section>
    

  






</body>
<script src="{% static 'script.js' %}"></script>

</html>