{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/10715cfae1.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <title>Dashboard | PHSS</title>
    <link rel="icon" href="{% static 'img/icon.png' %}">

</head>


<body>
    <header class="header" id="header">
        <nav class="nav container">
            <a href="/" class="nav_logo">
                <i class="fa-solid fa-book-open"></i> Read More
            </a>
            <div class="nav_menu" id="nav-menu">
                <ul class="nav_list">
                    <li class="nav_items">
                        <a href="/" class="nav_link">Home</a>
                    </li>
                    <li class="nav_items">
                        <a href="/facility" class="nav_link">Facility</a>
                    </li>
                    <li class="nav_items">
                        <a href="/admission" class="nav_link">Admission</a>
                    </li>
                    <li class="nav_items">
                        <a href="/payment" class="nav_link">Payment</a>
                    </li>
                    <li class="nav_items">
                        <a href="/dashboard" class="nav_link">Dashboard</a>
                    </li>
                </ul>
                <div class="nav_close" id="nav-close">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>
            <div class="nav_toggle" id="nav-toggle">
                <i class="fa-solid fa-bars"></i>
            </div>
        </nav>
    </header>

    <section class="main section">
        <div class="section-but">
            <div class="one">
                <a href="">
                    <button>Classes</button>
                </a>
            </div>
            <div class="two">
                <a href="/students">
                    <button>Students</button>
                </a>
            </div>
            <div class="three">
                <a href="">
                    <button>Payment</button>
                </a>
            </div>
        </div>
    </section>

  






</body>
<script src="{% static 'script.js' %}"></script>

</html>